.body {
    font-family: Arial, Helvetica, sans-serif;
}
.bg-darkblue {
    background-color: rgba(44, 62, 80, 1);
}
.bg-green {
    background-color: rgba(26, 188, 156, 1);
    color: white;
}
.bg-lightblue {
    background-color: rgba(58, 84, 109, 1);
}
/* HEADER */

/* JUMBO */
.avatar > img {
    width: 200px;

}
.line-white {
    width: 60px;
    margin-bottom: 7px;
    border-bottom: 3px solid white;
}
/* MAIN */

/* PORTFOLIO */

.bg-white .title {
    color: rgba(51, 51, 51, 1);
}
.bg-white .decoration  {
    color: rgba(44, 62, 80, 1);
}

.line-blue {
    width: 60px;
    margin-bottom: 7px;
    border-bottom: 3px solid rgba(44, 62, 80, 1);
}

.col-lg-4 > img {
    background-size: contain;
    width: 100%;
}

.download > a {
    color: white;
    border: 2px solid white;
    padding: 0 1rem;
}



/* CONTACT ME */
.client > input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.client > .message {
    height: 200px;
    text-align: initial;
}
.client > button {
    display: block;
    color: white;
    background-color: rgba(26, 188, 156, 1);
    border: 2px solid rgba(26, 188, 156, 1);
}

/* FOOTER */
footer {
    color: white;
}
.title {
    font-size: 20px;
}
.first_footer p {
    font-size: 13px;
}
.social {
    height: 40px;
    line-height: 40px;
}
.social > i {
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-radius: 50%;
    margin: 0.8rem;
    padding: 0.6rem;
    vertical-align: middle;
}

.green {
    color: rgba(26, 188, 156, 1);
}
.parag {
    text-align: center;
}
.last_footer {
    font-size: 12px;
}