.bg-darkblue {
    background-color: rgba(44, 62, 80, 1);
}
.bg-green {
    background-color: rgba(26, 188, 156, 1);
}
.bg-lightblue {
    background-color: rgba(58, 84, 109, 1);
}
.height50px {
    height: 50px;
}
.height200px {
    height: 200px;
}
.height300px {
    height: 300px;
}
.height400px {
    height: 400px;
}
.height500px {
    height: 500px;
}
.height600px {
    height: 600px;
}

.square {
    border: 2px solid white;
    background-color: dimgray;
    height: 200px;
    width: 200px;
}